.confidence_card_en { 
    height: 315px;

    .bg {
        height: 315px;
    }

    .blob {
        height: calc(315px/2);
    }
}

@media (min-width:381px) {
    .confidence_card_en {
        height: 290px;

        .bg {
            height: 290px;
        }
    
        .blob {
            height: calc(290px/2);
        }
    }
}

@media (min-width:992px) {
    .confidence_card_en {
        height: 320px;
    
        // .bg {
        //     height: 320px;
        // }
    
        // .blob {
        //     height: calc(320px/2);
        // }
    }
}

@media (min-width:1200px) {
    .confidence_card_en {
        height: 300px;
    
        // .bg {
        //     height: 320px;
        // }
    
        // .blob {
        //     height: calc(320px/2);
        // }
    }
}