.how-it-works {
    .roadmap {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 20px;



        &__step {
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            position: relative;

            &__icon {
                display: none;
            }

            &:first-child{
                &::before {
                    content: "";
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    bottom: 0;
                    width: 2px;
                    background-color: $forest-green;
                }
            }

            &:last-child{
                &::before {
                    content: "";
                    position: absolute;
                    left: 20px;
                    top: 0;
                    bottom: 50%;
                    width: 2px;
                    background-color: $forest-green;
                }
            }

            &::before {
                content: "";
                position: absolute;
                left: 20px;
                top: 0;
                bottom: 0;
                width: 2px;
                background-color: $forest-green;
            }



            &__number {
                font-size: 1.5em;
                background-color: $forest-green;
                color: $white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                position: relative;
                z-index: 1;
            }

            p {
                width: 85%;
                font-size: 1.2rem;
                margin: 0;
                padding-left: 10px;
                line-height: 1.5;
            }



        }
    }

    .roadmap_detail {
        font-size: 1.2rem;
    }
}

@media (min-width:992px) {
    .how-it-works {
        .roadmap {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 20px;
        
            &__step {
                display: flex;
                align-items: center;
                padding-bottom: 70px;
                position: relative;

                &__icon {
                    display: flex;
                    color: $gunmetal;
                    width: calc(50% - 20px);

                    .fa-amazon {
                        color: $gunmetal;
                    }

                    .fa-tiktok {
                        color: $gunmetal;
                    }
                    &__img_container {
                        min-width: 75px;
                        max-width: 130px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                }

                &__number {
                    font-size: 1.5em;
                    background-color: $forest-green;
                    color: $white;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;

                    i{
                        margin: 0;
                    }
                }

                p {
                    font-size: 1.2rem;
                    margin: 0;
                    padding: 0;
                    line-height: 1.5;
                    position: relative;
                    z-index: 1;
                    width: calc(50% - 20px);
                }

                &:nth-child(odd) {
                    flex-direction: row;
                    justify-content: flex-start;

                    .roadmap__step__number {
                        margin: 0;
                    }
    
                    .roadmap__step__icon {
                        color: $mantis;
                        flex-direction: row-reverse;
                        padding-right: 20px;
                    }

                    p {
                        padding-left: 20px;
                    }
                    
                }
        
                &:nth-child(even) {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    .roadmap__step__number {
                        order: 2;
                        margin: 0;
                    }
                    .roadmap__step__icon {
                        //color: $gunmetal;
                        color: $mantis;
                        order: 1;
                        padding-left: 20px;
                    }
                    p {
                        order: 3;
                        padding-right: 20px;
                    }
                }
        
                /* Línea que conecta los números */
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 0;
                    bottom: 0;
                    width: 2px;
                    background-color: $forest-green;
                    z-index: 0;
                    transform: translateX(-50%);
                }
        
        
                &:first-child {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 20%;
                        bottom: 0;
                        width: 2px;
                        background-color: $forest-green;
                        z-index: 0;
                        transform: translateX(-50%);
                    }
                }

                &:last-child {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 0;
                        bottom: 70%;
                        width: 2px;
                        background-color: $forest-green;
                        z-index: 0;
                        transform: translateX(-50%);
                    }
                }


            }
        }
    }
}